<h2 class="text-primary">Centro de Mensajes</h2>
<br>
<form action="/" method="post" id="myChat">
    <div class="mb-3">
        <div class="form-control w-25" id="username"></div>
    </div>

    <hr>
    
    <div id="messages"></div>
    <br>
    <div class="mb-3">
        <input id="text" type="text" class="form-control w-25 d-inline" placeholder="Ingrese su mensaje..."/>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </div>
</form>