<div class="container m-5">
    <h1>TABLA DE PRODUCTOS</h1>
    <table class="table table-primary table-striped">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Precio</th>
                <th scope="col">Foto</th>
                <th scope="col">Accion</th>
            </tr>
        </thead>
        <tbody id="tablaProds">   </tbody>
    </table>
    <a href="/" class="btn btn-lg btn-info" role="button">
    <i class="bi-house-fill"></i>  Inicio</a>
</div>